<div id="<%= dom_id article %>">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= article.title %></td>
        <td> <%= article.body %></td>

      </tr>
    </tbody>
  </table>
</div>


